import React, { PropTypes } from 'react';

const propTypes = {
  className: PropTypes.string,
};

const defaultProps = {
  className: '',
};

const {{cNameClassName}} = (props) => {
  const { className } = props;

  return (
    <div className={`{{cName}}-container ${className}`} >
      {{cNameClassName}}
    </div>
  );
};

{{cNameClassName}}.propTypes = propTypes;

{{cNameClassName}}.defaultProps = defaultProps;

export default {{cNameClassName}};
