import React, { PropTypes, Component } from 'react';
import './{{cName}}.scss';

const propTypes = {
  className: PropTypes.string,
};

const defaultProps = {
  className: '',
};

class {{cNameClassName}} extends Component {
  render() {
    const { className } = this.props;
    return (
      <div className={`{{cName}}-container ${className}`} >
        {{cNameClassName}}
      </div>
    );
  }
}

{{cNameClassName}}.propTypes = propTypes;

{{cNameClassName}}.defaultProps = defaultProps;

export default {{cNameClassName}};
